<!DOCTYPE html>
<html lang="en">
<head>
<title>Donate Now: </title>
<meta charset="utf-8">
<link rel="stylesheet" href="static/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="static/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="static/css/style.css" type="text/css" media="all">
<script type="text/javascript" src="static/js/jquery-1.6.js"></script>
<script type="text/javascript" src="static/js/cufon-yui.js"></script>
<script type="text/javascript" src="static/js/cufon-replace.js"></script>
<script type="text/javascript" src="static/js/Vegur_700.font.js"></script>
<script type="text/javascript" src="static/js/Vegur_400.font.js"></script>
<script type="text/javascript" src="static/js/Vegur_300.font.js"></script>
<script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="static/js/tms-0.3.js"></script>
<script type="text/javascript" src="static/js/tms_presets.js"></script>
<script type="text/javascript" src="static/js/backgroundPosition.js"></script>
<script type="text/javascript" src="static/js/atooltip.jquery.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.box1 figure{behavior:url("js/PIE.htc");}</style>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <h1><a href="{{ url_for('index_page') }}" >Donate Now {{ username }}</a></h1>
        <nav>
          <ul id="top_nav">
            <li><p>{{ day }}</p></li>
            <li><a href="index"><img src="static/images/top_icon1.gif" alt=""></a></li>
            <li><a href="#"><img src="static/images/top_icon2.gif" alt=""></a></li>
          </ul>
        </nav>
        <nav>
          <a href="{{ url_for('index_page') }}" ><img src="static/images/logo.png" style="height: 100px; width: 144px; float: left; margin-bottom: 30px;" alt="donate"></a>
          <ul id="menu">
            <li id="menu_active"><a href="{{ url_for('index_page') }}">Home</a></li>
            <li><a href="{{ url_for('home_page') }}">Log out</a></li>
            <li><a href="{{ url_for('request_page') }}/{{ username }}">Requests</a></li>
            <li><a href="{{ url_for('delete_my_account_page') }}/{{ username }}">Delete Account</a></li>
          </ul>
        </nav>
      </div>
      <div class="slider">
        <ul class="items">
          <li> <img src="static/images/img1.jpg" alt="">
            <div class="banner">
              <div class="wrapper"><span>“Our<em>Mission</em>is to<em>Help</em></span></div>
              <div class="wrapper"><strong>Those Who<em>Need</em>It”</strong></div>
            </div>
          </li>
          <li> <img src="static/images/img2.jpg" alt="">
            <div class="banner">
              <div class="wrapper"><span>“MAKE all the CHILDREN</span></div>
              <div class="wrapper"><strong>of the World HAPPY”</strong></div>
            </div>
          </li>
          <li> <img src="static/images/img3.jpg" alt="">
            <div class="banner">
              <div class="wrapper"><span>“TOGETHER we can CHANGE</span></div>
              <div class="wrapper"><strong>Many Young LIVES”</strong></div>
            </div>
          </li>
        </ul>
        <ul class="pagination">
          <li id="banner1"><a href="#">Make<span>Donations</span></a></li>
          <li id="banner2"><a href="#">join<span>volunteer</span></a></li>
          <li id="banner3"><a href="#">Help<span>children</span></a></li>
        </ul>
      </div>
    </header>
    <!-- / header -->
    <!-- content -->
    <article id="content">
      <div class="wrapper">
        <table  style="width:100%; color: seashell; table-layout: fixed;" >
          <tr>
              {% if username == currentuser %}
              <th width="5%"></th>
              {% endif %}
              <th>Request Time</th>
              <th>Request Name</th>
              <th>Amount</th>
              <th>Report Size</th>
              <th>Name</th>
              <th>Donate</th>
            </tr>
            {% for row in cursor %}
            <tr>
              {% if username == currentuser %}
              <td ><label class="Checkbox">
                  <input style="text-align: center;" type="Checkbox" name="report_keys" style="text-align: center;" value="{{ row[0] }}"/>    </td>
              {% endif %}
            <td>
              <p style="color: #29ca8e; font-size: 16px; font-size: 16px; font-size: 16px; overflow-wrap: break-word; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                {{row[2]}}
              </p>
            </td>
            <td>
              <p style="color: #29ca8e; font-size: 16px; font-size: 16px; font-size: 16px; overflow-wrap: break-word; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                {{row[3]}}
              </p>
            </td>
            <td>
              <p style="color: #29ca8e; font-size: 16px; font-size: 16px; overflow-wrap: break-word; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                {{row[4]}}
              </p>
            </td>
            <td>
              <p style="color: #29ca8e; font-size: 16px; font-size: 16px; overflow-wrap: break-word; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                {{row[5]}}
              </p>
            </td>
            <td>
              <p style="color: #29ca8e; font-size: 16px; font-size: 16px; overflow-wrap: break-word; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                {{row[6]}}
              </p>
            </td>
              
              <td ><button  class="button2 color2" width="160px" type="submit" name="donate">
                <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                  Donate</strong></button>   
                </td>
             

      </tr>
          {% endfor %}  
        </table>
       
                <br>
            <button  class="button2 color2" width="160px" type="submit" name="report">
              <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
               Report</strong></button>   
              
      </div>
    </article>
    <!-- / content -->
    <!-- footer -->
    <footer>
      <div class="wrapper"> <a href="index.html" id="footer_logo"><span>Donate</span>Now</a>
        <ul id="icons">
          <li><a href="#" class="normaltip"><img src="static/images/icon1.gif" alt=""></a></li>
          <li><a href="#" class="normaltip"><img src="static/images/icon2.gif" alt=""></a></li>
          <li><a href="#" class="normaltip"><img src="static/images/icon3.gif" alt=""></a></li>
        </ul>
      </div>
      <div class="wrapper">
        <nav>
          <ul id="footer_menu">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="mission.html">Our Mission</a></li>
            <li><a href="news.html">News &amp; Press</a></li>
            <li><a href="help.html">How to Help</a></li>
            <li class="end"><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
        <div class="tel"><span>+1 800</span>123 45 67</div>
      </div>
      <div id="footer_text">Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved<br></div>
    </footer>
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<script type="text/javascript">
$(window).load(function () {
    $('.slider')._TMS({
        preset: 'zabor',
        easing: 'easeOutQuad',
        duration: 800,
        pagination: true,
        banners: true,
        waitBannerAnimation: false,
        slideshow: 6000,
        bannerShow: function (banner) {
            banner.css({
                right: '-700px'
            }).stop().animate({
                right: '0'
            }, 600, 'easeOutExpo')
        },
        bannerHide: function (banner) {
            banner.stop().animate({
                right: '-700'
            }, 600, 'easeOutExpo')
        }
    })
    $('.pagination li').hover(function () {
        if (!$(this).hasClass('current')) {
            $(this).find('a').stop().animate({
                backgroundPosition: '0 0'
            }, 600, 'easeOutExpo', function () {
                $(this).parent().css({
                    backgroundPosition: '-20px 0'
                })
            });
        }
    }, function () {
        if (!$(this).hasClass('current')) {
            $(this).css({
                backgroundPosition: '0 0'
            }).find('a').stop().animate({
                backgroundPosition: '-250px 0'
            }, 600, 'easeOutExpo');
        }
    })
})
</script>
</body>
</html>